@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 480px) {
  html,
  body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  header {
    background-color: brown;
    width: 100%;
  }

  .logo {
    position: absolute;
    height: 250px;
    top: 10%;
    left: 25%;
    width: auto;
    margin: auto;
    display: inline-block;
    float: none;
  }

  .main-nav {
    position: absolute;
    top: 50%;
    left: 40%;
    float: none;
  }

  .main-nav li {
    display: block;
    text-align: center;
    margin-top: 0.8rem;
    padding: 0.8rem;
    float: none;
  }

  #bgvideo,
  .hero-header .hero-headline {
    display: none;
  }
  .form-wrapper {
    width: 80%;
  }

  form .form-control {
    width: 100%;
  }
}
