@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
  html,
  body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  header {
    background-color: brown;
    width: 100%;
  }

  .logo {
    position: absolute;
    height: 250px;
    top: 10%;
    left: 25%;
    margin: auto;
    display: inline-block;
    float: none;
  }

  .main-nav {
    position: absolute;
    top: 50%;
    left: 40%;
    float: none;
  }

  .main-nav li {
    display: block;
    text-align: center;
    margin-top: 0.8rem;
    padding: 0.8rem;
    float: none;
  }

  #bgvideo,
  .hero-header .hero-headline {
    display: none;
  }
  .form-wrapper {
    width: 80%;
  }

  .profile {
    width: 200px;
    height: 200px;
    margin-top: 3rem;
    margin-left: 8rem;
  }

  .about-me {
    height: 115vh;
  }

  .about-me h1 {
    font-size: 1.5rem;
  }

  .about-me .info {
    font-size: 0.9rem;
    padding: 0 2.5rem;
  }

  .center {
    width: 80vw;
    margin-left: 2.5rem;
    padding: 0.8rem;
  }

  form .form-control {
    width: 100%;
  }

  footer .social-links {
    float: none;
    text-align: center;
    margin-top: 1.5rem;
  }
}
