/* BASIC SETUP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* HEADER */

header {
  color: #fff;
  height: 100vh;
  position: relative;
}

nav {
  padding: 0;
}

.logo {
  height: 130px;
  width: auto;
  float: left;
  margin-top: 10px;
  margin-left: 50px;
}

.main-nav {
  float: right;
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 50px;
}

.main-nav a {
  letter-spacing: 1.5px;
}

.main-nav a:hover,
.main-nav a:active {
  text-decoration: none;
  border-bottom: 1px solid #ff5722;
  padding: 2px;
}

.main-nav a:link,
.main-nav a:visited {
  text-decoration: none;
  color: #fff;
}

/* HERO HEADER*/

.hero-header .hero-headline {
  color: white;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -40%;
  transform: translate(-50%, -50%);
}

.hero-headline h1 {
  text-align: center;
  font-size: 300%;
}

#bgvideo {
  /*  making the video fullscreen  */
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 105%;
  height: auto;
  z-index: -100;
  background: url('./images/Love-Coding.jpg');
  background-size: cover;
}

/* ABOUT ME */

.about-me {
  height: 100vh;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.about-me h1 {
  text-align: center;
  color: #555;
  margin: 40px auto;
}

.profile {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-top: 150px;
  margin-left: 50px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.info {
  margin-top: 10px;
  letter-spacing: 1.5px;
  justify-content: center;
  line-height: 135%;
}

/* SKILL BOX */

.center {
  width: 40%;
  position: absolute;
  margin-top: 30px;
  margin-left: 15px;
  padding: 20px;
  background: #93969a;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.skillbox {
  width: 100%;
  margin: 10px 0;
}

.skillbox p {
  color: #fff;
  font-size: 80%;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.skillbox p:nth-child(2) {
  float: right;
  position: relative;
  top: -30px;
}

.skill {
  background: #262626;
  padding: 4px;
  border: 1px solid #f7f7f7;
  border-radius: 2px;
}

.skill-level {
  background: #ff5722;
  width: 100%;
  height: 10px;
}

/* SERVICES */

.services {
  height: 100vh;
  text-align: center;
}

.services h1 {
  margin-top: 75px;
}

.services h2 {
  margin-top: 15px;
}

.img-wrapper {
  margin-top: 50px;
  height: 50%;
  width: 40%;
  position: absolute;
  margin-top: 30px;
  margin-left: 15px;
  padding: 20px;
  background: #ff5722;
  color: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.services-img {
  height: 150px;
  width: 150px;
  margin-top: 25px;
}

.img-wrapper p {
  margin-top: 25px;
  font-weight: 400;
}

/* PORTFOLIO */

.portfolio {
  width: 100%;
  height: 100vh;
  text-align: center;
}

#particles-js {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  background-color: #ff5722;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  width: 100%;
  position: relative;
}

.project-header {
  position: absolute;
  width: 900px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.portfolio h1 {
  letter-spacing: 1px;
  line-height: 80px;
  align-content: center;
  vertical-align: middle;
}

/* CONTACT */

.contact {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.form-wrapper {
  position: absolute;
  width: 900px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  margin-top: -2.5%;
  transform: translate(-50%, -50%);
}

.form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background: #ff5722;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #f44336;
  cursor: pointer;
}

/* FOOTER */

footer {
  background-color: #333;
  padding: 50px;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links li,
.footer-nav li {
  display: inline-block;
  margin-right: 20px;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 150%;
}

.footer-icon {
  transition: color 0.2s;
  color: #888;
}

.linkedin:hover {
  color: #0077b5;
}
.github:hover {
  color: #fff;
}
.facebook:hover {
  color: #3b5998;
}
.instagram:hover {
  color: #f1602e;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}
